.ds-container {
  box-sizing: border-box;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  min-height: 1px;
  margin-top: 5px;
  margin-bottom: 10px; }

.ds-payments {
  padding: 2rem 2rem; }
  .ds-payments h3 {
    margin-bottom: 3rem; }
  .ds-payments h5 {
    text-align: center; }

.ds-amount-display {
  text-align: center; }
  .ds-amount-display button {
    margin-right: 20px; }
